*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .7);
    --x-color: #3498db;
    --o-color: #e74c3c;
    --border-color: #7f8c8d;
}
body{
    font-family: 'Fira Sans Condensed', sans-serif;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.game-title{
    text-align: center;
    font-size: 5rem;
}
.board{
    flex: 1;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}
.difficulty{
    min-width: 280px;
}
.diff-select{
    margin-top: .5em;
    display: flex;
    justify-content: space-between;
}
.diff-btn{
    padding: .5em .75em;
    cursor: pointer;
    border: none;
    border: 3px solid transparent;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-size: 1rem;
    border-radius: 5px;
}
#ez-btn{
    background-color: #3498db;
    color: white;
}
#ez-btn:hover{
    background-color: #56afeb;
}
#med-btn{
    background-color: #f39c12;
    color: white;
}
#med-btn:hover{
    background-color: #eeb65b;
}
#exp-btn{
    background-color: #e74c3c;
    color: white;
}
#exp-btn:hover{
    background-color: rgb(245, 123, 109);
}
.cell{
    width: var(--cell-size);
    height: var(--cell-size);
    border: 3px solid var(--border-color);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3){
    border-top: none;
}
.cell:nth-child(3n + 1){
    border-left: none;
}
.cell:nth-child(3n + 3){
    border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9){
    border-bottom: none;
}
.cell.x,
.cell.o{
    cursor: not-allowed;
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
    content: '';
    width: calc(var(--mark-size)*.15);
    height: var(--mark-size);
    background-color: var(--x-color);
    position: absolute;
}
.board.x .cell:not(.x):not(.o):hover::before,
.board.x .cell:not(.x):not(.o):hover::after{
    opacity: .5;
}
.cell.x::before,
.board.x .cell:not(.x):not(.o):hover::before{
    transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:not(.x):not(.o):hover::after{
    transform: rotate(-45deg);
}
.cell.o::before,
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after{
    content: '';
    position: absolute;
    border-radius: 50%;
}
.board.o .cell:not(.x):not(.o):hover::before,
.board.o .cell:not(.x):not(.o):hover::after{
    opacity: .5;
}
.cell.o::before,
.board.o .cell:not(.x):not(.o):hover::before{
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: var(--o-color);
}
.cell.o::after,
.board.o .cell:not(.x):not(.o):hover::after{
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: #fff;
    opacity: 1;
}
.winning-modal{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0 ,0 , .9);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    font-size: 4rem;
    text-align: center;
}
.winning-msg-desc{
    font-size: 3rem;
}
#restart-btn{
    font-size: 3rem;
    margin-top: 2em;
    border: 1px solid white;
    background-color: transparent;
    padding: .25em .5em;
    cursor: pointer;
    color:white;
}
#restart-btn:hover{

    background-color: #fff;
    border: 1px solid black;
    color: black;
}
.winning-modal.show{
    display: flex;
}